/*
.daily_knowledge{
    max-width: 60%;
    align-self: center;
    align-items: center;
    justify-content: center;
    background-color: var(--light_yellow);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 0.75rem;
    padding: 2rem 2rem;
    box-shadow: 0px 4px 18px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 4px 18px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 4px 18px 0px rgba(0,0,0,0.15);
    position: relative;
    top: 55vh;
}

.daily_knowledge img{
    width: 5rem;
} */

.knowledge{
    width: 100%;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 0px;
}

.label{
    width: fit-content;
    white-space: nowrap;
    background-color: #eda78a;
    margin-left: auto;
    padding: 0.25rem 0.5rem;
    border-radius: 999px;
    font-size: var(--fs-sm);
    color:white;
}

.label.food {
    background: #FFE3E3;
    color: #B30000;
}

.label.knowledge {
    background: #E3F7FF;
    color: #004A7F;
}

.label.behavior {
    background: #E8FFE3;
    color: #0A7F00;
}

.label.emotion {
    background: #e6e3ff;
    color: #61007f;
}

@media (max-width: 768px) {
    .label{
        display: none;
    }
}