:root {
    --primary-color: #4C3030;
    --dark_yellow: #cf9219;
    --yellow: #F1B02B;
    --light_yellow: #FEF5E3;
    --gray: rgb(233, 233, 233);
}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?lyw716');
  src:  url('fonts/icomoon.eot?lyw716#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?lyw716') format('truetype'),
    url('fonts/icomoon.woff?lyw716') format('woff'),
    url('fonts/icomoon.svg?lyw716#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart-true:before {
  font-size: 1.25rem;
  color: red;
  content: "\e902";
}

.icon-phone:before {
  content: "\e942";
}

.icon-bulb:before {
  content: "\e903";
}

.icon-heart-false:before {
  font-size: 1.25rem;
  color: var(--primary-color);
  content: "\e901";
}

.icon-map-marker:before {
  content: "\e900";
}
